.nav {
  max-width: 279px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 3rem;
  background: #1c1c24;
  border-radius: 8px;
  /* border: 1px solid white; */
}
.nav .nav-links {
  margin-top: 139px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.nav .nav-links .homeIcon {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

@media only screen and (max-width:768px){
  .nav-mobile{
    display: none;
  }
}
